Subbu Sanka to Everyone (Jun 27, 2023, 4:07 PM)
City Data (Python, Pandas)
County_ID, City_ID, Population
1,90,9999
2,90,99999
3,90,99999
4,90,9999999
1,91,8889999
2,91,88899999
3,91,88899999
4,91,44449999999

Questions:
 1. What kind of data structure do you use to represent the source?
 2. City with Lowest Population
 3. Number of counties in each city

In [ ]:
df.groupby('City_ID').sum().iloc[df['Population'].argmin()]['City_ID']

In [ ]:
90

In [3]:
import pandas as pd
df = pd.read_clipboard(sep=',')

In [8]:
df.columns

Index(['County_ID', ' City_ID', ' Population'], dtype='object')

In [15]:
df.groupby(' City_ID').sum().reset_index().iloc[df[' Population'].argmin()][' City_ID']
#.iloc[df['Population'].argmin()]['City_ID']

90

In [ ]:
df.groupby(' City_ID').sum()['']

In [1]:
SQL:
create table employee(id int, name varchar(50), department varchar(50), manager int, doj date);
  insert into employee values(1,'John','IT',9,'2010-05-08');
  insert into employee values(2,'Alex','Corp',0,'2008-06-03');
  insert into employee values(3,'Linda','IT',9,'2010-07-02');
  insert into employee values(4,'Rahul','Purchase',8,'2010-08-12');
  insert into employee values(5,'Ismail','Purchase',8,'2012-09-08');
  insert into employee values(6,'Zheng','Sales',7,'2010-10-05');
  insert into employee values(7,'Reiki','Sales',2,'2009-11-02');
  insert into employee values(8,'Aris','Sales',2,'2011-12-08');
  insert into employee values(9,'Jena','IT',2,'2008-01-01');
  insert into employee values(10,'Bonny','IT',9,'2008-01-01');

Questions: Please provide an explanation of your approach. 
 1. What is the month with most hiring?
select 
(select month(doj), count(*)
from employee
groupby mont(doj)
order by count(*) desc
limit 1;

 2. List managers who joined after the reportees?
 
 select a.employee as employee, a.doj as employee_join, b.employee as manager, b.doj as manager_join
 from employee a 
 join employee b
 on a.manager = b.id
 where employee_join < manager_join
 
Department with most managers and how many?

SyntaxError: invalid syntax (2838890730.py, line 1)

In [2]:
dict = {1:2,3:5,5:8}

In [5]:
dict.get(7)

In [17]:
a = [[1,20],[5,6],[8,9],[1,3],[1,5],[1,3]]
{k:v for k,v in a}

{1: 3, 5: 6, 8: 9}

In [18]:
sorted(a)

[[1, 3], [1, 3], [1, 5], [1, 20], [5, 6], [8, 9]]

In [20]:
from collections import deque
dq = deque([0,1,2,3,4,5,6])

In [21]:
dq.popleft()

0

In [22]:
dq

deque([1, 2, 3, 4, 5, 6])

In [23]:
dq.appendleft(0)

In [24]:
dq

deque([0, 1, 2, 3, 4, 5, 6])

In [25]:
dq.extendleft([0,0,0])

In [27]:
dq

deque([0, 0, 0, 0, 1, 2, 3, 4, 5, 6])

In [29]:
from collections import OrderedDict

In [30]:
dc = OrderedDict()

In [35]:
dc['4'] = 10

In [36]:
dc

OrderedDict([(1, 10), ('1', 10), ('2', 10), ('3', 10), ('4', 10)])

In [39]:
a = 'eat'
''.join(sorted(a))

'aet'

In [42]:
def reverseit(string):
    stack = []
    out = ''
    for char in string:
        stack.append(char)
    for i in range(len(stack)):
        out += stack.pop()
    return out

reverseit('1000')

'0001'

In [45]:
def reverseit(string):
    if len(string) == 1:
        return string
    return reverseit(string[1:]) + string[0] 
reverseit('abcddd')

'dddcba'

In [50]:
a = [[1,2],[3,4],[5,6]]
{a:b for a,b in a}

{1: 2, 3: 4, 5: 6}